/* Base styles - Define root variables for colors */
:root {
    --medium-green: #4ade80;
    --jet: hsl(0, 0%, 22%);
    --onyx: hsl(240, 1%, 17%);
    --eerie-black-1: hsl(240, 2%, 13%);
    --eerie-black-2: hsl(240, 2%, 12%);
    --smoky-black: hsl(0, 0%, 7%);
    --white-1: hsl(0, 0%, 100%);
    --white-2: hsl(0, 0%, 98%);
    --orange-yellow-crayola: hsl(45, 100%, 72%);
    --vegas-gold: hsl(45, 54%, 58%);
    --light-gray: hsl(0, 0%, 84%);
    --light-gray-70: hsla(0, 0%, 84%, 0.7);
    --bittersweet-shimmer: hsl(0, 43%, 51%);
  }
  
  /* Base styles for body */
  body {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: var(--light-gray);
    background-color: var(--smoky-black);
    margin: 0;
    padding: 0;
  }
  
  /* Layout styles */
  .container {
    max-width: 750px;
    margin: 0 auto;
    padding: 2rem 1rem;
  }
  
  /* Typography styles */
  h1, h2, h3, h4, h5, h6 {
    background-image: linear-gradient(
      to right,
      hsl(45, 100%, 72%),
      hsl(35, 100%, 68%)
    );
    background-clip: text;
    -webkit-background-clip: text; /* For Safari */
    color: transparent;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 2em;
    margin-bottom: 0.5em;
  }
  
  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  p {
    margin-bottom: 1.5em;
  }
  
  /* Link styles */
  a {
    color: var(--vegas-gold);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  /* Blockquote styles */
  blockquote {
    border-left: 4px solid var(--vegas-gold);
    padding-left: 1rem;
    margin-left: 0;
    margin-top: 26px;
    font-style: italic;
    color: #d1d5db;
  }
  
  blockquote cite {
    font-size: 10px;
  }
  
  /* Code block styles */
  pre, code {
    background-color: var(--eerie-black-2);
    border-radius: 0.25rem;
    font-family: Menlo, Monaco, "Courier New", monospace;
  }
  
  pre {
    padding: 1rem;
    overflow-x: auto;
    white-space: pre-wrap;
    border: 1px solid var(--jet);
  }
  
  pre:focus {
    width: min-content;
  }
  
  code {
    padding: 0.2rem 0.4rem;
  }
  
  /* List styles */
  ul, ol {
    margin-bottom: 1.5em;
    padding-left: 1.5rem;
  }
  
  /* Image styles */
  img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
  /* Header styles */
  .header {
    margin-bottom: 2rem;
  }
  
  .header h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
    color: var(--white-1);
  }
  
  .publish-date {
    color: #9ca3af;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
  }
  
  .separator {
    width: 100%;
    height: 1px;
    background: var(--jet);
    margin: 16px 0;
  }

  .progress-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  .progress-container {
    /* background-color: rgba(150, 150, 150, 0.6); */
    height: 10px;
    width: 100%;
  }
  
  .progress-bar {
    background: linear-gradient(
      to right,
      hsl(45, 100%, 72%),
      hsl(35, 100%, 68%)
    );
    height: 10px;
    width: 0%;
    border-radius: 5px;
  }
  
  /* Responsive design for screens smaller than 768px */
  @media (max-width: 768px) {
    body {
      font-size: 16px;
    }
  
    h1 {
      font-size: 2.5rem;
    }
  
    h2 {
      font-size: 2rem;
    }
  
    h3 {
      font-size: 1.25rem;
    }
  
    .container {
      padding: 1.5rem 0.75rem;
    }
  }
  
  /* Responsive design for screens smaller than 640px */
  @media (max-width: 640px) {
    body {
      font-size: 14px;
    }
  
    h1 {
      font-size: 2rem;
    }
  
    h2 {
      font-size: 1.75rem;
    }
  
    h3 {
      font-size: 1.25rem;
    }
  
    .container {
      padding: 1rem 0.5rem;
    }
  }
  