/* Base styles - Define root variables for colors */
:root {
  --medium-green: #4ade80;
  --jet: hsl(0, 0%, 22%);
  --onyx: hsl(240, 1%, 17%);
  --eerie-black-1: hsl(240, 2%, 13%);
  --eerie-black-2: hsl(240, 2%, 12%);
  --smoky-black: hsl(0, 0%, 7%);
  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(0, 0%, 98%);
  --orange-yellow-crayola: hsl(45, 100%, 72%);
  --vegas-gold: hsl(45, 54%, 58%);
  --light-gray: hsl(0, 0%, 84%);
  --light-gray-70: hsla(0, 0%, 84%, 0.7);
  --bittersweet-shimmer: hsl(0, 43%, 51%);
}

/* Base styles for body */
body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: var(--light-gray);
  background-color: black;
  margin: 0;
  padding: 0;
}

body.blurred {
  overflow: hidden;
}

/* Layout styles */
.container {
  max-width: 750px;
  margin: 0 auto;
  padding: 1rem 1rem;
}

/* img */
img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

/* Typography styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  background-image: linear-gradient(to right,
      hsl(45, 100%, 72%),
      hsl(35, 100%, 68%));
  background-clip: text;
  -webkit-background-clip: text;
  /* For Safari */
  color: transparent;
  font-weight: 700;
  line-height: 1.2;

}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  margin-bottom: 1.5em;
}

/* navbar style */
navbar {
  background-color: rgb(157, 101, 101);
}

.navbar {
  background-color: black;
  margin: 0px auto;
  max-width: 750px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  right: 0px;
  left: 0px;
  padding: 0rem 1rem;
}

.navbar .left {
  width: 100%;
  color: var(--vegas-gold);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .left .toggle-btn {
  display: none;
}

.navbar .right-2 ul {
  width: 50%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  height: 100%;
  position: fixed;
  top: 50px;
  right: -50%;
  transition: all 0.2s ease-in-out;
}

.navbar .right-2 ul li {
  padding: 20px 10px;
}

.navbar .right-2 ul.show {
  right: 0%;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 0px !important;
}

.navbar ul li a {
  padding: 16px;
  margin: 0px 8px;
}


/* navbar style */



/* Header styles */
.header {
  margin-bottom: 2rem;
  margin-top: 5rem;
}

.header a {
  width: fit-content;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.2s linear;
}

.header a:hover {
  gap: 10px;
  text-decoration: none;
}


.header h1 {
  margin: 1rem 0rem;
  font-size: 3rem;
  color: var(--white-1);
}

.header .publish-date {
  color: #9ca3af;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

/* Link styles */
a {
  color: var(--vegas-gold);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Blockquote styles */
article blockquote {
  border-left: 4px solid var(--vegas-gold);
  padding-left: 1rem;
  margin-left: 0;
  margin-top: 26px;
  font-style: italic;
  color: #d1d5db;
}

article blockquote cite {
  font-size: 10px;
}

/* Code block styles */
article pre {
  background-color: var(--eerie-black-2);
  border-radius: 0.25rem;
  font-family: Menlo, Monaco, "Courier New", monospace;
  padding: 1rem;
  overflow-x: auto;
  white-space: pre-wrap;
  border: 1px solid var(--jet);
}

article pre:focus {
  width: min-content;
}

/* List styles */
article ol {
  margin-bottom: 1.5em;
  padding-left: 1.5rem;
}

/* Image styles */
article .img-wrapper {
  max-width: 600px;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  overflow: hidden;
}



.separator {
  width: 100%;
  height: 1px;
  background: var(--jet);
  margin: 16px 0;
}

/* Responsive design for screens smaller than 768px */
@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
  }

  .navbar .left .toggle-btn {
    display: block;
  }

  .navbar .right-1 {
    display: none;
  }


  body {
    font-size: 16px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
  }

}

/* Responsive design for screens smaller than 640px */
@media (max-width: 640px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  .container {
    padding: 0rem 0.5rem;
  }
}